
{% extends "base.html" %}

{% block content %}

<title>About</title>

<p>
        <br><br>This site is being being rendered from <b>tweet/templates/about.html</b>
        <br> Using the <b>views.py</b> under <b>tweet/</b> <br><br>
        
        <ul class="list-group ">
            <li class="list-group-item; color: Red;" size="20px"><strong>Red Team Members</strong></li>
                <li class="list-group-item list-group-item-success">Fernando</li>
                <li class="list-group-item list-group-item-success">Chi</li>
                <li class="list-group-item list-group-item-success">Daniel</li>
                <li class="list-group-item list-group-item-success">Oscar</li>
        </ul>
</p>

{% endblock content %}